{% extends 'layout.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/seleccionar_grupo.css') }}">
{% endblock %}
{% block body %}
    <div id="popup" class="popup">
        {% if grupos|length > 0 %}
            <form action="{{ path('redirigir_grupo') }}" method="post">
                <label for="grupo">Selecciona tu Grupo:</label>
                <select name="grupo" id="grupo">
                    {% for grupo in grupos %}
                        <option value="{{ grupo.id }}">{{ grupo.descripcion }}</option>
                    {% endfor %}
                        <option value="exterior">Guardia</option>
                </select>
                <button type="submit">Seleccionar</button>
            </form>
        {% else %}
            <p>No tienes ningún grupo asignado en el curso académico actual</p>
        {% endif %}
    </div>
{% endblock %}