@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fuentes/Poppins/Poppins-Regular.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Tittle';
    src: url('../fuentes/Poppins/Poppins-Medium.ttf');
    font-weight: 100;
    font-style: normal;
}

body {
    font-family: "Poppins-Regular", sans-serif;
    background-color: #F9F5EE;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 24px;
    color: #333;
}

button {
    background-color: #ca8a50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #bc712d;
}

/* Estilos para el navbar */
.navbar {
    display: flex;
    background-color: #461804;
    color: #fefbec;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    position: relative;
}

.navbar i {
    font-size: 1em;
}

.navbar .left,
.navbar .right {
    display: flex;
    align-items: center;
}

.navbar .middle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    text-align: center;
}

.navbar .middle p {
    font-family: "Poppins-Tittle", sans-serif;
    font-size: 1.5em;
}

.navbar .middle img {
    width: 3em;
    margin-right: 1em;
}

.navbar .left a,
.navbar .right ul li a {
    color: #fefbec;
    text-decoration: none;
    margin: 0 0.5rem;
}

.navbar .left a.active {
    font-weight: bold;
    color: #ffffff;
}

.navbar .right ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar .right ul li {
    margin-left: 1rem;
}


/* Estilos para el login */
.container {
    display: flex;
    min-height: 100vh;
    background-color: #461804;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-top: -5em;
    width: 12em;
    height: auto;
    margin-bottom: 2em;
}

.login-container {
    padding: 3em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    text-align: center;
    background-color: #F9F5EE;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 60%;
    padding: 15px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 15.5%;
}

.login-container input[type="text"] {
    margin-top: 2em;
}

.login-container button {
    margin-top: 1em;
    -webkit-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

@media (max-width: 500px) {

    .login-container {
        max-width: 200px;
        line-height: 2em;
    }

    .logo {
        margin-top: 0;
    }

    .login-container input[type="text"],
    .login-container input[type="password"] {
        width: 80%;
        margin: 0;
    }

    .login-container input[type="text"] {
        margin-top: 2em;
    }

}

/* Estilos para la alerta */
.alert {
    padding: 1em;
    border: 1px solid transparent;
    border-radius: 4px;
    position: absolute;
    top: 0;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}



/* Estilos para el hamburguesa */

.menu-icon {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1000;
}

.menu-icon .bar {
    width: 100%;
    height: 4px;
    background-color: #fefbec;
}

.left .menu-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(70, 24, 4, 0.91);
    border-radius: 0 0 5px 5px;
    width: 100%;
}

.left .menu-items a {
    padding-top: 0.5em;
    padding-bottom: 1em;
    padding-left: 1em;
    border-bottom: rgb(70, 24, 4) solid;
    margin: 0.5rem 1em;
}

.left .menu-items a:last-child {
    border: none;
    padding-top: 0;
    align-items: center;
}

.left .menu-items.active {
    display: flex;
}

.left .menu-icon {
    display: flex;
}

.right .menu-icon {
    display: none;
    cursor: pointer;
}

.right ul.menu-items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Estilos para el icono de hamburguesa */
.menu-icon {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1000;
}

.menu-icon .bar {
    width: 100%;
    height: 4px;
    background-color: #fefbec;
}

/* Estilos para el menú en dispositivos móviles */
@media (max-width: 1100px) {
    .right ul.menu-items {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: rgba(70, 24, 4, 0.91);
        padding: 1rem;
        border-radius: 0 0 5px 5px;
        width: 100%;
        text-align: right;
    }

    .right ul.menu-items li{
        padding: 1em;
        border-bottom: rgb(70, 24, 4) solid;
        margin-left: 2rem;
    }

    .right ul.menu-items li:first-child{
        padding-top: 0;
    }

    .right ul.menu-items li:last-child{
        border-bottom: none;
        padding-bottom: 0.5em;
    }

    .right ul.menu-items.active {
        display: flex;
    }

    .right .menu-icon {
        display: flex;
    }
}

