{% set current_path = app.request.get('_route')|split('_') %}
<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><i class="fa fa-money-bills"></i> Paso Seguro</a>
        <div class="col-auto" id="navbarNav">
            {% if app.user %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link {{ current_path[0] == 'principal' ? 'active" aria-current="page' }} text-white">
                            <i class="ti ti-user-filled"></i>Conectado como {{ app.user.userName }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_logout') }}" class="btn btn-secondary">Cerrar Sesión <i class="ti ti-user-off"></i></a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>

</nav>
